.filter-content{
    margin-top: 7%;
}

.filters__container__block {
    background-color: rgba(0, 0, 0, 0.74);
    margin: 15px;
    padding: 10px;
    position: relative;
}
.flex_container {
    display: flex;
}
.flex_horizontal_between {
    justify-content: space-between;
}
.flex_vertical_stretch {
    align-items: stretch;
}
.flex_wrapper {
    flex-wrap: wrap;
}
.filters__container__title {
    font-size: 24px;
    line-height: 1.4em;
    color: #fff;
}
.filters__container__subtitle {
    font-size: 20px;
    line-height: 1.4em;
    color: #fff;
}
.filters__clearall {
    cursor: pointer;
}
.filters__container__block.filters__container__block__half {
    width: calc(50% - 30px);
}
.filters__container__block__half {
    width: 50%;
}
.filters__checkbox__container {
    margin: 10px 0;
    position: relative;
}
.filters__checkbox__container input {
    visibility: hidden;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.filters__checkbox__container label {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 4px solid #777;
    display: block;
    background-color: #777;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}
.filters__checkbox__container input:checked + label {
    background-color: #fff;
}
.fliters__container__price input {
    margin-left: 10px;
    background-color: #777;
    border: none;
}
.filters__container__textinput {
    margin-top: 10px;
}
.filters__dropdown__container {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.filters__dropdown__container input{
    background-color: transparent;
    border: none;
    height: 30px;
    color: #fff;
    font-size: 24px;
}
.filters__dropdown__container input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 1;
    font-size: 24px;
}
.filters__dropdown__container input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-size: 24px;
        
}
.filters__dropdown__container input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 24px;
        
}
.filters__dropdown__container input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 24px;
}
.filters__dropdown__body {
    max-height: 250px;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000;
    overflow-y: scroll;
    z-index: 2;
}
.filters__dropdown__body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.filters__dropdown__choice {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all .1s linear;
}
.filters__dropdown__choice:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.wines__block {
    background-color: #000;
    margin: 15px;
    padding: 10px 30px;
}
.wines__block__title {
    font-size: 18px;
    color: #fff;
}
.wines__block__photo {
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 0;
}
.wine__indicator {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.red-wine__indicator {
    background-color: #722f37;
}
.white-wine__indicator {
    background-color: white;
}
.country__indicator {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.wines__block__price {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}