@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url('/static/fonts/opensanscondlight.woff2') format('woff2'), url('/static/fonts/opensanscondlight.woff') format('woff'), url('/static/fonts/opensanscondlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url('/static/fonts/opensanscondlightitalic.woff2') format('woff2'), url('/static/fonts/opensanscondlightitalic.woff') format('woff'), url('/static/fonts/opensanscondlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('/static/fonts/opensanscondensedbold.woff2') format('woff2'), url('/static/fonts/opensanscondensedbold.woff') format('woff'), url('/static/fonts/opensanscondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body{
    background: #1B0D07 url(/static/img/background-wine.jpg);
    background-size: cover;
    font-family: "Open Sans Condensed"!important;
    text-align: center;
}

.survey-wrapper{
    color: white;
    margin: 10% 0 0 15%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 60%;
}

.survey-wrapper .item{
    display: inline-block;
    margin-top: 4%;
    width: 100%;
}

.survey-wrapper .answers{
    margin-left: auto;
    width: 70%;
    margin-bottom: 1%;
}

.survey-wrapper .submit{
    margin-bottom: 2%;
}

.main-time-info{
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

.progress .progress-bar{
    background-color: #1B1111;
    text-align: center;
    position: relative;
    height: inherit;
    width: 105%;
}

.progress-bar-wrapper{
    margin-left: 15%;
    height: 20px;
    width: 70%;
    overflow: hidden;
}

.progress-item-triangle{
    float: left;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #331F24;
	border-bottom: 10px solid transparent;
}

.progress .progress-bar .progress-bar-item{
    background-color: #331F24;
    height: inherit;
    width: 100%;
    float: left;
}

.progress-bar .progress-bar-text{
    position: absolute;
    top:0;
    left: 45%
}

.answers .answer-item{
    width:49%;
    height: 80px;
    float: left;
    border: 1px solid #5f5f5f;
    text-align: center;
    display:inline-block;
    cursor: pointer;
}

.answers .answer-item.not-even{
    float: none;
    margin-bottom: 10px;
    width:60%;
    height: 2em;
}

.answers .answer-item.not-even p{
    margin-top: 0.2em;
}

.answers .answer-item:hover{
    background-color: rgba(95, 95, 95, 0.3);
}

.answers .answer-item p{
    margin-top: 25px;
}

.question{
    text-align: center;
}

.question h1{
    margin-top: 20px;
}

.question-image{
    width:45%;
}

.submit .submit-button{
    width:70%;
    margin-left: 15%;
}

.b-button{
    width: 100%;
    height: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    text-align: center;
}

.find-wine{
    display: inline-block;
    margin-top: 25%;
    margin-left: auto;
    font-size: 2em;
    border: 3px solid white;
    text-align: center;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.5em;
}

.find-wine:hover{
    background-color: rgba(95, 95, 95, 0.3);
}

.login-block{
    display: none;
}

.auth-image{
    width: 200px;
    height: auto;
    float: left;
}

.auth-buttons{
    margin-left: 300px;
    text-align: center;
}

.auth-buttons h1{
    font-size: 1.5em;
}

.vk-auth{
    margin-top: 100px;
    width: 170px;
    background-color: black;
    color: white;
    font-weight: bolder!important;
    height: 30px;
    border: 2px solid white;
    padding-top: 5px;
}

.content-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    float:left;
}

.content-text, .context-title{
    text-align: center;
    color: #E0D9CB;
}

.content-wrapper .item{
    margin-bottom: 20px;
}

.start-now{
    width: 40%;
    margin-left: 30%;
}

.start-now .b-button{
    display: inline-block;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #F5E8D0;
    border: 1px solid #F5E8D0;
}

.context-preview img{
    margin-left: 10%;
    width:20%;
    float:left
}

.context-preview{
    width: 100%;
    float:left;
}

.context-preview-text{
    text-align: center;
    color: #F5E8D0;
}

.content-info{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #F5E8D0;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.content-info h3{
    color: #F5E8D0;
    margin-bottom: 8px;
    margin-top: 5px;
}

.slick-slide{
    height: auto!important;
}

.feedback-wrapper,
.feedback-wrapper-thx,
.result-wrapper{
    width: 70%;
    margin-left: 15%;
    min-height: 400px;
    max-height: 500px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 200px;
}

.result-item{
    width: 90%;
    color: white!important;
}

.result-item__tabs{
    width: 100%;
}

.result-item__tabs__where,
.result-item__tabs__about_wine{
    width: 49%;
    float: left;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
    margin: 0 0 5px;
}


.result-item__tabs__where,
.result-item__tabs__about_wine{
    border-bottom: 1px solid #95784E;
}

.result-item__tabs__about_wine {
    border-right: 1px solid #95784E;
}

.js-tabs-active.result-item__tabs__about_wine,
.js-tabs-active.result-item__tabs__where{
    border-bottom: none;
    border-top: 1px solid #95784E;

}

.result-item__title-result,
.result-item__title{
    width: 100%;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 1.3em;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
}

.result-item__title-result{
    margin-top: 15px;
}

.result-item__title-result h1{
    margin-top: 20px;
}

.result-item__content{
    width: 90%;
    margin-left: 5%;
    float: left;
    position: relative;
}

.result-item__where{
    width: 90%;
    margin-left: 5%;
}

.result-item__where,
.result-item__content_conteiner{
    display: none;
}

.result-item__where.js-active,
.result-item__content_conteiner.js-active{
    display: block;
    float: left;
    margin-top: 20px;
}

.result-item__where__store{
    width: 100%;
    margin-bottom: 30px;
    float: left;
}

.result-item__where__store__img{
    width: 20%;
    float: left;
}

.result-item__where__store__text{
    width: 60%;
    float: left;
    font-size: 1.3em;
}

.result-item__where__store__cost{
    width: 20%;
    float: left;
    font-size: 1.3em;
}

.result-item__content__wine{
    float: left;
    max-width: 20%;
}

.result-item__content__wine-info{
    float: left;
    width: 60%;
    margin-left: 20%;
    text-align: left;
}

.feedback-item__content__wine img,
.result-item__content__wine img{
    margin-left: 7%;
    width: auto;
    height: 300px;
}

.result-item__content__wine-info__info{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width:100%
}

.result-item__content__wine-info__info div{
    float: left;
    margin-left: 30px;
}

.result-item__content__wine-info__info div span{
    min-width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

.result-item__content__wine-info__info div .icon{
    margin-right: 1em;
}

.result-item__content__wine-info__info div:first-child{
    margin-left: 0px;
}

.result-item__content__wine-info__text{
    display: inline-block;
    margin-top: 10px;
}

.result-item__content__wine-info__text :last-child{
    margin-top: 30px;
}

.favorite-item__content__wine-info__select,
.result-item__content__wine-info__select{
    float: left;
}

.result-item__content__wine-info__select{
    margin-top: 20px;
}

.result-item__content__wine-info__select a:first-child{
    margin-left: 0;
}

.white{
    background-color: wheat;
}

.red{
    background-color: #990000;
}

.pink{
    background-color: pink;
}

.white{
    background-color: white;
}

.dry{
    background-color: #F2F2F2;
    border-radius: 10px;
}

.desktop-share{
    position: absolute;
    top: 0;
    right: 0;
}

.result-item-style{
    background-image: url("/static/img/110580.svg");
}

.result-item__content__wine-info__info__style{
    display: none;
}

.result-item__content__wine-info__select-mobile,
.favorite-item__content__wine-info__select{
    width: 100%;
}

.result-item__content__wine-info__select{
    width: 80%;
}

.feedback-item__content__wine-info__select .b-button,
.favorite-item__content__wine-info__select .b-button,
.result-item__content__wine-info__select-mobile .b-button,
.result-item__content__wine-info__select .b-button{
    height: 30px;
    padding-top: 5px;
    width: 30%;
    background-color: rgba(0,0,0,0.0);
    color:white;
    border: 1px solid white;
    float: left;
    margin-left: 10%;
    vertical-align: middle;
}

.feedback-item__content__wine-info__select .b-button,
.favorite-item__content__wine-info__select .b-button{
    width: 60%;
    margin-left: 20%;
}

.feedback-item__content__wine-info__select .b-button:last-child{
    margin-top: 5%!important;
}

.feedback-item__content__wine-info__select .b-button:hover,
.favorite-item__content__wine-info__select .b-button:hover,
.result-item__content__wine-info__select-mobile .b-button:hover,
.result-item__content__wine-info__select .b-button:hover{
    background-color: rgba(0,0,0,0.5);
}

.grade{
    padding-top: 10px;
    padding-bottom: 10px;
}

.grade i{
    font-size:25px;
    margin-left: 25px;
}

.grade i:first-child{
    margin-left: 0;
}

.slick-arrow{
    display: none!important;
}

.slick-navigation{
    font-size: 25px!important;
    color: #990000;
    top:400px;
    position:fixed;
    cursor: pointer;
}

.slick-navigation-left{
    left: 6%;
}

.slick-navigation-right{
    right: 6%;
}

.result-item__content__wine-info__title-mobile{
    display: none;
}

.result-item__content__wine-info__select-mobile{
    display: none;
}

.favorite-item__textarea{
    margin-bottom: 8%;
}

.favorite-item__textarea textarea{
    background-color: rgba(0,0,0,0);
    width: 80%;
    height: 100px;
    color: white;
}

.grade i{
    cursor: pointer;
}

.feedback-wrapper-thx h2{
    margin-top: 200px;
    color: white;
    font-size: 1.7em;
}

.feedback-item__content__wine{
    width: 40%;
    float: left;
}

.feedback-item__content__wine-info{
    width: 60%;
    margin-left: 40%;
}

.search-wrapper {
    width: 1000px;
    margin: auto;
    margin-top: 10%;
}

.wine-item{
    width: 200px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.81);
    border-radius: 5px;
}

.wine-item img{
    height: 200px;
    margin: auto;
    width: auto;
}

.wine-item__types__color,
.wine-item__types__type,
.wine-item__types__country{
    display: inline;
    margin-right: 5px;
}

.top-menu__search {
    width: 297px;
    padding: 11px 0 15px 20px;
    font-size: 16px;
    border: 0 none;
    height: 26px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #AA7339;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
.top-menu__search_button {
    border: 0 none;
    background: #804C15 url('/media/128.png') center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 26px;
    cursor: pointer;
    background-size: 50% auto; //contain;
}

@media only screen and (max-width : 800px) {

    .top-menu__search {
        width: 50%;
        margin-left: 20%;
    }

    .search-wrapper{
        width: 600px;
        margin-top: 7em;
    }

    .search-wrapper .wine-item{
        margin-left: 50px;
        margin-right: 50px;
    }

    .result-item__content__wine-info__info div{
        float: none;
        margin-left: 0;
    }

    .result-item__content__wine-info__select{
        width: 60%;
    }

    .favorite-item__content__wine-info__select .b-button,
    .result-item__content__wine-info__select-mobile .b-button,
    .result-item__content__wine-info__select .b-button{
        width: 40%;
    }

    .feedback-item__content__wine{
        width: 100%;
        float: none;
    }

    .feedback-item__content__wine-info{
        width: 100%;
        margin-left: 0;
    }

    .feedback-wrapper-thx h2{
        font-size: 1em;
    }

    .find-wine{
        margin-top: 50%;
        margin-left: auto;
    }

    .survey-wrapper{
        margin-top: 30%;
        min-height: auto;
    }

    .content-wrapper{
        width: 80%;
        margin-left: 5%;
        margin-top: 7em;
        padding: 5%;
        font-size: 1.2em;
    }

    .feedback-wrapper-thx{
        margin-top: 4em;
    }

    .result-item__content__wine img{
        height: 450px;
    }

    .feedback-wrapper,
    .result-wrapper{
        margin-top: 8em;
        max-height: 65%;
        font-size: 1em;
        padding-bottom: 1em;
    }

    .result-item__title-result,
    .result-item__title{
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .result-item__title h2{
        font-size: 0.65em;
    }

    .start-now-button{
        font-size: 2em;
    }

    .start-now{
        width: auto;
        margin-left: auto;
    }


    .auth-image{
        display: none;
    }

    .auth-buttons{
        margin-left: 0;

    }

    .feedback-item__content__wine img{
        margin-left: 0;
    }

    .b-button.vk-auth.js-vk-login{
        width: auto;
    }
}

@media only screen and (max-width : 500px) {

    .search-wrapper{
        margin-top: 4em;
        width: 300px;
    }

    .search-wrapper .wine-item{
        margin-left: 50px;
        margin-right: 50px;
    }

    .result-item{
        height: 100%!important;
    }

    .result-item__where.js-active,
    .result-item__content_conteiner.js-active{
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        position: relative;

    }

    .favorite-item__textarea{
        display: none;
    }

    .feedback-item__content__wine-info__select .b-button{
        height: 3em;
        margin-left: 14%;
    }

    .feedback-item__content__wine-info__select .b-button,
    .favorite-item__content__wine-info__select .b-button,
    .result-item__content__wine-info__select-mobile .b-button,
    .result-item__content__wine-info__select .b-button{
        width: 35%;
    }

    .grade i{
        font-size: 1em;
        margin-left: 1px;
    }

    .survey-wrapper {
        margin-top: 30%;
        font-size: 1em;
    }

    .result-item__title-result,
    .result-item__title{
        font-size: 1em;
    }

    .context-preview{
        display: none;
    }


    .content-wrapper{
        font-size: 0.65em;
    }


    .feedback-item__content__wine-info__select .b-button:last-child{
        margin-top: 0!important;
    }

    .answers .answer-item{
        width: 80%;
        margin-left: 10%;
        height: 2em;
        margin-bottom: 10%;
    }

    .survey-wrapper .item{
        margin-top: 15%;
    }

    .answers .answer-item p{
        margin-top: 0.4em;
    }

    .find-wine{
        margin-top: 70%;
        margin-left: auto;
    }

    .question-image{
        width: 80%;
    }

    .feedback-wrapper,
    .result-wrapper{
        max-height: 80%;
        height: 80%;
        font-size: 1em;
        margin-top: 4em;
    }

    .result-item__content{
        max-height: 60%;
        overflow: hidden;
    }

    .result-item__content__wine{
        width: 50%;
        max-width: none;
    }

    .result-item__content__wine-info__text__text{
        display: none;
    }

    .result-item__content__wine-info__info div{
        float: none;
        margin-left: 0;
        margin-bottom: 0.1em;
        vertical-align: top;
    }

    .feedback-item__content__wine{
        height: 30%;
    }

    .feedback-item__content__wine img,
    .result-item__content__wine img{
        margin-left: 0;
        height: 80%;
        margin-right: 0;
    }

    .feedback-item__content__wine-info__select{
        height: auto;
    }

    .feedback-item__content__wine img{
        width: auto;
        height: 100%;
    }

    .result-item__content__wine-info{
        width:50%;
        margin-left: 0;
        font-size: 13px;
        text-align: left;
    }

    .result-item__content__wine-info__title{
        display: none;
    }

    .result-item__content__wine-info__title-mobile{
        display: block;
        min-height: 3em;
        margin-top: 1em;
        width: 100%;
        margin-left: 5%;
        text-align: center;
        line-height: 1.5em;
        font-size: 0.7em;
    }

    .result-item__content__wine-info__info div span{
        vertical-align: top;
    }

    .result-item__content__wine-info__info div span:last-child{
        height: auto;
        width: 65%!important;
        font-size: 0.9em;
    }

    .span-type{
        border-radius: 1em;
    }

    .span-style{
        width: 70%!important;
        line-height: 1.2em;
    }

    .slick-navigation{
        color: white;
        top: 50%;
        font-size: 1.5em!important;
    }

    .result-item__content__wine-info__select-mobile{
        display: inherit;
        float: left;
        font-size: 0.7em;
    }

    .result-item__content__wine-info__select{
        display: none;
    }

    .result-item__content__wine-info__info__style{
        display: block;
    }

    .result-item__content__wine-info__textresult-item__content__wine-info__text__text i{
        margin-right: 1em;
    }
    .result-item__content__wine-info__textresult-item__content__wine-info__text__text{
        font-size: 1.2em!important;
    }

}


.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
