/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

a {
	color: white;
	text-decoration: none;
}

#logo{
	font-weight: bold;
	z-index: 1;
}

#logo:hover {
	color: white;
}

a:hover {
	color: #f5f4e5;
}

img {
	width: 100%;
}

header {
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	font-size: 1.5em;
}

#logo{
	margin-left: 3em;
	margin-top: 1em;
	float: left;
	width: 200px;
	height: 40px;
	display: block;
}

nav {
	float: right;
	margin-top: 1em;
}

.show-menu, .close-menu {
	display: none;
	width: 2.7em;
	height: 2.7em;
	background: url(/static/img/menu-white.png) center;
	background-size: contain;
}

a:hover .close-menu {
	background-color: white;
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.current {
	color: white;
}

section {
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px
}


/*MEDIA QUERY*/
@media only screen and (max-width : 800px) {

	.top-menu{
		position: absolute;
		padding-top: 2em;
		font-size: 1.7em;
		background-color: black;
		top:0!important;
		left: 0!important;;
		width: 100%;
	}

	.top-menu li{
		margin-bottom: 1em;
	}

	header {
		position: absolute;
		width: 100%;
		text-align: center;
	}

	#logo{
		margin-top: 1em;
		font-size: 2.2em;
		width: 100%;
		margin-left: 0;
	}

	.show-menu, .close-menu {
		display: inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		right: 20px;
		top: 1em;
		width: 100%;
		border-radius: 4px 0 4px 4px;
		background-color: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background-color: rgba(0, 0, 0, 0.3);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(0, 0, 0, 0.6), endColorstr=#99000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"

	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	.menu-active ul {
		display: block;
	}

	.show-menu, .close-menu {
		width: 2em;
		height: 2em;
		position: absolute;
    	right: 2%;
	}
}


/*MEDIA QUERY*/
@media only screen and (max-width : 500px) {



	.top-menu{
		padding-top: 2em;
		font-size: 0.7em;
	}

	.top-menu li{
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		margin-bottom: 0.2em;
	}

	header {
		position: absolute;
		width: 100%;
		text-align: center;
	}
	#logo{
		margin-top: 1em;
		font-size: 1.2em;
		width: 100%;
		margin-left: 0;
	}
	.show-menu, .close-menu {
		display: inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		right: 20px;
		top: 1em;
		width: 100%;
		border-radius: 4px 0 4px 4px;
		background-color: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background-color: rgba(0, 0, 0, 0.3);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(0, 0, 0, 0.6), endColorstr=#99000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"

	}

	nav li {
		text-align: center;
		width: 100%;
		margin: 0;
	}

	.menu-active ul {
		display: block;
	}

	.show-menu, .close-menu {
		width: 1em;
		height: 1em;
		position: absolute;
    	right: 2%;
	}
}