{% extends "result.html" %}
{% load staticfiles %}

{% block title %}
    <div class="result-item__title">
        <h2>Избранное</h2>
    </div>
{% endblock %}

{% block buttons %}
{% endblock %}

{% block grade %}
    <div class="grade">
        {% for star in wine.full_stars %}
        <i class="fa fa-star" aria-hidden="true"></i>
        {% endfor %}
        {% for star in wine.empty_stars %}
        <i class="fa fa-star-o" aria-hidden="true"></i>
        {% endfor %}
    </div>
{% endblock %}
