{% extends "result.html" %}
{% load staticfiles %}

{% block title %}
    <div class="result-item__title">
        <h2>Избранное</h2>
    </div>
{% endblock %}

{% block buttons %}
{% endblock %}

{% block grade %}
    <div class="grade">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
{% endblock %}