{% extends "baseTemplate.html" %}
{% load staticfiles %}

{% block script %}
    <script src="{% static "slick/slick.min.js" %}"></script>
    <script src="{% static "js/result.js" %}"></script>
    <link href="{% static "slick/slick.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/flags.css"%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fontawesome/css/font-awesome.min.css" %}">
{% endblock %}

{% block content %}
    <div class="feedback-wrapper">
        <div class="result-item js-result-item">
            <div class="result-item__title">
                <h2>В прошлый раз мы подобрали вино "{{ wine.title }}". Вам понравилось?</br></br> 
                    Обратная связь сделает наши подборки еще вкуснее :)
                </h2>
            </div>

            <div class="result-item__content">
                <div class="feedback-item__content__wine">
                    <img src="/media/{{ wine.img }}">
                </div>
                <div class="feedback-item__content__wine-info">
                    {% block grade %}
                    {% endblock %}
                    {% block buttons %}
                        <div class="feedback-item__content__wine-info__select">
                            <div class="grade">
                                <i id="js-rating-1" class="js-rating fa fa-star-o" aria-hidden="true" data-rating="1" ></i>
                                <i id="js-rating-2" class="js-rating fa fa-star-o" aria-hidden="true" data-rating="2"></i>
                                <i id="js-rating-3" class="js-rating fa fa-star-o" aria-hidden="true" data-rating="3"></i>
                                <i id="js-rating-4" class="js-rating fa fa-star-o" aria-hidden="true" data-rating="4"></i>
                                <i id="js-rating-5" class="js-rating fa fa-star-o" aria-hidden="true" data-rating="5"></i>
                            </div>
                        </div>
                    {% endblock %}

                    <div class="favorite-item__textarea">
                        <textarea class="js-comment" placeholder="Оставьте свой комментарий"></textarea>
                    </div>

                    
                    <div class="feedback-item__content__wine-info__select">
                        <a class="js-answer b-button get-it">Ответить</a>
                        <a class="js-decline b-button get-it">Не стал пробовать</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
