{% extends "baseTemplate.html" %}

{% load wine_color %}
{% load staticfiles %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/filtering.js" %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="{% static "css/filtering.css" %}" />
    {{ super }}
{% endblock %}

{% block content %}
<div class="row filter-content">
    <div class="desktop-filters col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <div class="filters__container">
            <div class="filters__container__block flex_container flex_horizontal_between">
                <span class="filters__container__title">Фильтры</span>
                <span class="filters__container__title filters__clearall">Очистить все</span>
            </div>
            <div class="flex_container flex_vertical_stretch text-left flex_wrapper">
                <div class="filters__container__block filters__container__block__half">
                    <span class="filters__container__title">Цвет</span>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Красное" value="" id="Красное">
                        <label for="Красное"></label>
                        <span class="filters__container__subtitle">Красное</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Белое" value="" id="Белое">
                        <label for="Белое"></label>
                        <span class="filters__container__subtitle">Белое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Розовое" value="" id="Розовое">
                        <label for="Розовое"></label>
                        <span class="filters__container__subtitle">Розовое</span>
                    </div>
                </div>
                <div class="filters__container__block filters__container__block__half">
                    <span class="filters__container__title">Сладость</span>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сухое" value="" id="сухое">
                        <label for="сухое"></label>
                        <span class="filters__container__subtitle">сухое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусухое" value="" id="полусухое">
                        <label for="полусухое"></label>
                        <span class="filters__container__subtitle">полусухое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусладкое" value="" id="полусладкое">
                        <label for="полусладкое"></label>
                        <span class="filters__container__subtitle">полусладкое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сладкое" value="" id="сладкое">
                        <label for="сладкое"></label>
                        <span class="filters__container__subtitle">сладкое</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters__container__block fliters__container__price text-left">
            <span class="filters__container__title">Цена</span>
            <div class="flex_container flex_wrapper ">
                <div class="filters__container__block__half filters__container__textinput text-left">
                    <span class="filters__container__subtitle">От</span>
                    <input type="text" name="" value="">
                </div>
                <div class="filters__container__block__half filters__container__textinput text-right">
                    <span class="filters__container__subtitle">До</span>
                    <input type="text" name="" value="">
                </div>
            </div>
        </div>
        <div class="filters__container__block fliters__container__price text-left">
            <span class="filters__container__title">Год</span>
            <div class="flex_container flex_wrapper ">
                <div class="filters__container__block__half filters__container__textinput text-left">
                    <span class="filters__container__subtitle">От</span>
                    <input type="text" name="" value="">
                </div>
                <div class="filters__container__block__half filters__container__textinput text-right">
                    <span class="filters__container__subtitle">До</span>
                    <input type="text" name="" value="">
                </div>
            </div>
        </div>
        <div class="filters__container__block js-choice-container">
            <div class="filters__dropdown__container text-left toggleDropdown">
                <input class="countryChoice" id="countryChoice" type="text" name="" value="" placeholder="Страна" disabled>
                <span class="filters__container__title open__dropdown "><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left active">
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
            </ul>
        </div>
    </div>



    <div class="mobile-filters col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12">
            <span class="filters__container__title">Фильтры</span>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="toggleDropdown">
                <span class="filters__container__title">Цвет</span>
                <span class="mobile-filters__container__title open__dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left">
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Красное-mobile" value="" id="Красное-mobile">
                        <label for="Красное-mobile"></label>
                        <span class="filters__container__subtitle">Красное</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Белое-mobile" value="" id="Белое-mobile">
                        <label for="Белое-mobile"></label>
                        <span class="filters__container__subtitle">Белое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Розовое-mobile" value="" id="Розовое-mobile">
                        <label for="Розовое-mobile"></label>
                        <span class="filters__container__subtitle">Розовое</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container" >
            <div class="toggleDropdown">
                <span class="filters__container__title">Сладость</span>
                <span class="mobile-filters__container__title open__dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left">
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сухое-mobile" value="" id="сухое-mobile">
                        <label for="сухое-mobile"></label>
                        <span class="filters__container__subtitle">сухое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусухое-mobile" value="" id="полусухое-mobile">
                        <label for="полусухое-mobile"></label>
                        <span class="filters__container__subtitle">полусухое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусладкое-mobile" value="" id="полусладкое-mobile">
                        <label for="полусладкое-mobile"></label>
                        <span class="filters__container__subtitle">полусладкое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сладкое-mobile" value="" id="сладкое-mobile">
                        <label for="сладкое-mobile"></label>
                        <span class="filters__container__subtitle">сладкое</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="toggleDropdown">
                <span class="filters__container__title">Цена</span>
                <span class="mobile-filters__container__title open__dropdown "><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <div class="col-sm-12 col-xs-12 ">
                <ul class="filters__dropdown__body text-left">
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-left">
                            <span class="filters__container__subtitle">От</span>
                            <input type="text" name="" value="">
                        </div>
                    </li>
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-right">
                            <span class="filters__container__subtitle">До</span>
                            <input type="text" name="" value="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="toggleDropdown">
                <span class="filters__container__title">Год</span>
                <span class="mobile-filters__container__title open__dropdown toggleDropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <div class="col-sm-12 col-xs-12 ">
                <ul class="filters__dropdown__body text-left">
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-left">
                            <span class="filters__container__subtitle">От</span>
                            <input type="text" name="" value="">
                        </div>
                    </li>
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-right">
                            <span class="filters__container__subtitle">До</span>
                            <input type="text" name="" value="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="filters__dropdown__container text-left toggleDropdown">
                <input class="countryChoice" id="countryChoice" type="text" name="" value="" placeholder="Страна" disabled>
                <span class="mobile-filters__container__title open__dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left active">
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Грузия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Италия</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Чили</li>
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown">Испания</li>
            </ul>
        </div>
    </div>



    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        {% for wine in "asdfasdfasdfasdfasdfasdf" %}
            {% include "search_item.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
