{% extends "baseTemplate.html" %}

{% load wine_color %}
{% load staticfiles %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/filtering.js" %}"></script>
    <script src="{% static "js/result.js" %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="{% static "css/filtering.css" %}" />
    <link href="{% static "css/flags.css"%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fontawesome/css/font-awesome.min.css" %}">
    <script>
       function showEmptyWines() {
           $('.js-nothing-found').show();
           $('.js-wines-block').hide();
       }

       function filterWines(isEmpty) {
           //form request
           var requestParams = {};
           if (!(isEmpty)) {
               $('.js-filter, .js-filter-input').each(function() {
                   var el = $( this );
                   if (el.is(':checked')) {
                       requestParam[el.data('id')] = requestParam[el.data('id')] || [];
                       requestParam[el.data('id')].push(el.attr('value'));
                   }
               });
           }
           console.log(requestParams);
           $.ajax({
             type: "GET",
             url: '/filtration/',
             data: requestParams,
             success: function(wines) {
                 if (wines) {
                     $('.js-wines-block').show();
                     $('.js-wines-block').html(wines);
                 } else {
                     showEmptyWines();
                 }
             },
             error: function() {
                 showEmptyWines();
             }
        });
       }
      
       $(document).ready(function() {
       $('.wine-item__types__icon').hover(
           function() {
               var id = $( this ).data('id');
               $('#' + id).css({'opacity': 1}); //.fadeIn(); //.attr("visibility", "visible");
           }, 
           function() {
               var id = $( this ).data('id');
               $('#' + id).css({'opacity': 0});//.fadeOut(); //attr("visibility", "hidden");
           }
       );
      
       //filter on change / input
       $('.js-filter-input').mouseout(filterWines);
       $('.js-filter').change(filterWines);

       //clear filters on click
       $('.js-clear-all').click(function() {
           filterWines(true);
       });
       });
      
       
    </script>
    <style>
       .wine-item__types__description {
           opacity: 0;
       }
    </style>
{% endblock %}

{% block content %}
<div class="row filter-content">
    <div class="desktop-filters col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <div class="filters__container">
            <div class="filters__container__block flex_container flex_horizontal_between">
                <span class="filters__container__title">Фильтры</span>
                <span class="filters__container__title filters__clearall js-clear-all">Очистить все</span>
            </div>
            <div class="flex_container flex_vertical_stretch text-left flex_wrapper">
                <div class="filters__container__block filters__container__block__half">
                    <span class="filters__container__title">Цвет</span>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Красное" value="красное" id="Красное" class="js-filter" data-id="color">
                        <label for="Красное"></label>
                        <span class="filters__container__subtitle">Красное</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Белое" value="белое" id="Белое" class="js-filter" data-id="color">
                        <label for="Белое"></label>
                        <span class="filters__container__subtitle">Белое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Розовое" value="розовое" id="Розовое" class="js-filter" data-id="color">
                        <label for="Розовое"></label>
                        <span class="filters__container__subtitle">Розовое</span>
                    </div>
                </div>
                <div class="filters__container__block filters__container__block__half">
                    <span class="filters__container__title">Сладость</span>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сухое" value="сухое" id="сухое" class="js-filter" data-id="type">
                        <label for="сухое"></label>
                        <span class="filters__container__subtitle">сухое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусухое" value="полусухое" id="полусухое" class="js-filter" data-id="type">
                        <label for="полусухое"></label>
                        <span class="filters__container__subtitle">полусухое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусладкое" value="полусладкое" id="полусладкое" class="js-filter" data-id="type">
                        <label for="полусладкое"></label>
                        <span class="filters__container__subtitle">полусладкое</span>
                    </div>
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сладкое" value="сладкое" id="сладкое" class="js-filter" data-id="type">
                        <label for="сладкое"></label>
                        <span class="filters__container__subtitle">сладкое</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters__container__block fliters__container__price text-left">
            <span class="filters__container__title">Цена</span>
            <div class="flex_container flex_wrapper ">
                <div class="filters__container__block__half filters__container__textinput text-left">
                    <span class="filters__container__subtitle">От</span>
                    <input type="text" name="" value="" class="js-filter-input" data-id="price__gt">
                </div>
                <div class="filters__container__block__half filters__container__textinput text-right">
                    <span class="filters__container__subtitle">До</span>
                    <input type="text" name="" value="" class="js-filter-input" data-id="price__lt">
                </div>
            </div>
        </div>
        <div class="filters__container__block fliters__container__price text-left">
            <span class="filters__container__title">Год</span>
            <div class="flex_container flex_wrapper ">
                <div class="filters__container__block__half filters__container__textinput text-left">
                    <span class="filters__container__subtitle">От</span>
                    <input type="text" name="" value="" class="js-filter-input" data-id="year__gt">
                </div>
                <div class="filters__container__block__half filters__container__textinput text-right">
                    <span class="filters__container__subtitle">До</span>
                    <input type="text" name="" value="" class="js-filter-input" data-id="year__lt">
                </div>
            </div>
        </div>
        <div class="filters__container__block js-choice-container">
            <div class="filters__dropdown__container text-left toggleDropdown">
                <input class="countryChoice js-filter-input" id="countryChoice" type="text" name="" value="" placeholder="Страна" data-id="country_id" disabled>
                <span class="filters__container__title open__dropdown "><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left active">
                {% for country in countries %}
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown" data-id="{{ country.id }}">{{ country.name|title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>



    <div class="mobile-filters col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12">
            <span class="filters__container__title">Фильтры</span>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="toggleDropdown">
                <span class="filters__container__title">Цвет</span>
                <span class="mobile-filters__container__title open__dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left">
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Красное-mobile" value="красное" id="Красное-mobile" class="js-filter" data-id="color">
                        <label for="Красное-mobile"></label>
                        <span class="filters__container__subtitle">Красное</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Белое-mobile" value="белое" id="Белое-mobile"  class="js-filter" data-id="color">
                        <label for="Белое-mobile"></label>
                        <span class="filters__container__subtitle">Белое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="Розовое-mobile" value="розовое" id="Розовое-mobile"  class="js-filter" data-id="color">
                        <label for="Розовое-mobile"></label>
                        <span class="filters__container__subtitle">Розовое</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container" >
            <div class="toggleDropdown">
                <span class="filters__container__title">Сладость</span>
                <span class="mobile-filters__container__title open__dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left">
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сухое-mobile" value="сухое" id="сухое-mobile"  class="js-filter" data-id="type">
                        <label for="сухое-mobile"></label>
                        <span class="filters__container__subtitle">сухое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусухое-mobile" value="полусухое" id="полусухое-mobile"  class="js-filter" data-id="type">
                        <label for="полусухое-mobile"></label>
                        <span class="filters__container__subtitle">полусухое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="полусладкое-mobile" value="полусладкое" id="полусладкое-mobile"  class="js-filter" data-id="type">
                        <label for="полусладкое-mobile"></label>
                        <span class="filters__container__subtitle">полусладкое</span>
                    </div>
                </li>
                <li class="filters__container__subtitle">
                    <div class="filters__checkbox__container">
                        <input type="checkbox" name="сладкое-mobile" value="сладкое" id="сладкое-mobile" class="js-filter" data-id="type">
                        <label for="сладкое-mobile"></label>
                        <span class="filters__container__subtitle">сладкое</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="toggleDropdown">
                <span class="filters__container__title">Цена</span>
                <span class="mobile-filters__container__title open__dropdown "><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <div class="col-sm-12 col-xs-12 ">
                <ul class="filters__dropdown__body text-left">
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-left">
                            <span class="filters__container__subtitle">От</span>
                            <input type="text" name="" value="" class="js-filter-input" data-id="price__gt">
                        </div>
                    </li>
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-right">
                            <span class="filters__container__subtitle">До</span>
                            <input type="text" name="" value="" class="js-filter-input" data-id="price__lt">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="toggleDropdown">
                <span class="filters__container__title">Год</span>
                <span class="mobile-filters__container__title open__dropdown toggleDropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <div class="col-sm-12 col-xs-12 ">
                <ul class="filters__dropdown__body text-left">
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-left">
                            <span class="filters__container__subtitle">От</span>
                            <input type="text" name="" value="" class="js-filter-input" data-id="year__gt">
                        </div>
                    </li>
                    <li>
                        <div class="filters__container__block__half filters__container__textinput text-right">
                            <span class="filters__container__subtitle">До</span>
                            <input type="text" name="" value="" class="js-filter-input" data-id="year__lt">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 mobile-filters-menu-item js-choice-container">
            <div class="filters__dropdown__container text-left toggleDropdown">
                <input data-id="country_id" class="js-filter-input countryChoice" id="countryChoice" type="text" name="" value="" placeholder="Страна" disabled>
                <span class="mobile-filters__container__title open__dropdown"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </div>
            <ul class="filters__dropdown__body text-left active">
                {% for country in countries %}
                <li class="filters__container__subtitle filters__dropdown__choice toggleDropdown" data-id="{{ country.id }}">{{ country.name|title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>



    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 js-wines-block">
        {% include "search_item.html" with wines=wines %}
    </div>
    <div class="js-nothing-found" style="display: none;">
        <h2>Ой, здесь ничего нет :(</h2>
    </div>
</div>
{% endblock %}
